*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator-section, .imaginary-numbers-section, .logarithm-section, .vectors-section, .counting-of-nums-to-section, .currency-calculator{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border: 1px black solid;
    border-radius: 10%;
}

.calculator-section, .imaginary-numbers-section{
    height: 50px;
}

header{
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(255, 170, 0);
}

main{
    margin: 10px;
    padding: 10px;
}

.digit-text{
    width: 30px;
    text-align: center;
}

.digit-text{
    padding: 5px 10px;
}

#signs, #imaginary-signs{
    padding: 5px 10px
} 

.calculate-button{
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 170, 0);
}

.calculate-button:hover{
    background-color: rgb(255, 140, 0);
    color: blue;
}

.vector{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: white;
    background-color: rgb(255, 170, 0);
    text-align: center;
}

.testing-link{
    color: blue;
    text-decoration: none;
}

.testing-link:hover {
    text-decoration: underline; 
    color: darkblue; 
}

.testing-link:visited {
    color: purple;
}